/* Styles go here */
br {
   display: block;
   margin: -4px;
}

div {
	word-wrap: break-word;
}

.loading {
   animation: spinning 2s linear infinite;
}


@keyframes spinning {
   from {
      transform: rotateZ(0deg);
   }

   to {
      transform: rotateZ(360deg);
   }
}